*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: slateblue !important;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border-color: blueviolet;
    font-size: 20px !important;
}
